In [1]:
import pandas as pd
import numpy as np
from glob import glob
import os
import seaborn as sns

### 데이터 로드
- 회원정보 데이터 EDA를 위한 데이터 로드

In [2]:
# 폴더 내 모든 파일 경로 불러오기
files = glob("train/1.회원정보/*")

In [3]:
# 파일 경로 출력
for file in files:
    print(file)

train/1.회원정보\201807_train_회원정보.parquet
train/1.회원정보\201808_train_회원정보.parquet
train/1.회원정보\201809_train_회원정보.parquet
train/1.회원정보\201810_train_회원정보.parquet
train/1.회원정보\201811_train_회원정보.parquet
train/1.회원정보\201812_train_회원정보.parquet

In [4]:
# 회원정보 폴더 내에 있는 파일들 불러와서 데이터 합치기기

i=7
for file in files:
    # 파일 경로를 경로와 파일 이름으로 나누기 
    file_path,file_name = os.path.split(file)
    
    # 파일명과 확장자 나누기
    head, tail = os.path.splitext(file_name)
    # print(f'{file_path}, {file_name}')
    # print(f'{head}, {tail}')
    
    # 위에서 구한 파일명을 변수명으로 지정하고 파일 읽어와서 저장
    globals()[f'df{i}'] = pd.read_parquet(file)
    i += 1

### 불러온 데이터 확인하기
- 2018년 7월 ~ 2018년 12월의 회원 정보 확인하기
    - df7 ~ df12 의 변수명으로 저장
1. 데이터 결합 후 파악
    - 각 데이터의 컬럼이 같은지 확인 이후 concat() 결합 -> all_month_user_info 데이터프레임
    - head(), info(), describe()
2. 범주형 데이터 처리 방법 고민
    - ㅁㅁ
3. 결측치 확인하기
    - 결측치가 존재하는 컬럼 개수 확인
    - 결측치가 존재하는 행의 개수 확인
4. 이상치 확인 후 처리
    - ㅁㅁ
5. 변수 간 관계 파악
    - ㅁㅁ

In [5]:
# 전체 행, 열을 확인하기 위한 코드
# pd.set_option('display.max_rows', None)  # 행 전체 출력
# pd.set_option('display.max_columns', None)  # 열 전체 출력
# pd.set_option('display.max_colwidth', None)  # 문자열 최대 길이 제한 없음

# 이전으로 변경
# pd.options.display.max_rows = 60
# pd.options.display.max_columns = 20

#### 1. 데이터 결합 후 파악

In [6]:
# 각 컬럼이 다른 이상이 존재하는지 확인
for i in range(8,13,1):
    current = globals()[f'df{i}']
    print(list(df7.columns) == list(current))

True
True
True
True
True

In [7]:
# 각 데이터 axis=0로 기본 결합 (concat)
user_info = pd.DataFrame()
user_info = pd.concat([user_info,df7,df8,df9,df10,df11,df12])
print(user_info.shape)
print(type(user_info))
# user_info.to_csv('user_info.csv')

(2400000, 78)
<class 'pandas.core.frame.DataFrame'>

In [8]:
# 결합 데이터 확인해보기
pd.set_option('display.max_columns', None)  # 열 전체 출력
user_info.tail()

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,소지카드수_이용가능_신용,입회일자_신용,입회경과개월수_신용,회원여부_연체,이용거절여부_카드론,동의여부_한도증액안내,수신거부여부_TM,수신거부여부_DM,수신거부여부_메일,수신거부여부_SMS,가입통신회사코드,탈회횟수_누적,최종탈회후경과월,탈회횟수_발급6개월이내,탈회횟수_발급1년이내,거주시도명,직장시도명,마케팅동의여부,유효카드수_신용체크,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용체크,이용가능카드수_신용,이용가능카드수_신용_가족,이용가능카드수_체크,이용가능카드수_체크_가족,이용카드수_신용체크,이용카드수_신용,이용카드수_신용_가족,이용카드수_체크,이용카드수_체크_가족,이용금액_R3M_신용체크,이용금액_R3M_신용,이용금액_R3M_신용_가족,이용금액_R3M_체크,이용금액_R3M_체크_가족,_1순위카드이용금액,_1순위카드이용건수,_1순위신용체크구분,_2순위카드이용금액,_2순위카드이용건수,_2순위신용체크구분,최종유효년월_신용_이용가능,최종유효년월_신용_이용,최종카드발급일자,보유여부_해외겸용_본인,이용가능여부_해외겸용_본인,이용여부_3M_해외겸용_본인,보유여부_해외겸용_신용_본인,이용가능여부_해외겸용_신용_본인,이용여부_3M_해외겸용_신용_본인,연회비발생카드수_B0M,연회비할인카드수_B0M,기본연회비_B0M,제휴연회비_B0M,할인금액_기본연회비_B0M,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,1,20010701,209,0,0,0,0,0,0,0,S사,0,0,0,0,울산,울산,1,2,1,0,1,0,2,1,0,1,0,1,0,0,1,0,10755,7267,0,3488,0,5640,3,신용,0,0,체크,202110.0,NaN,20150902.0,1,1,1,1,1,0,0개,0,0,0,0,0,0,0,0개,0개,0개,0개,0,노년생활,39
399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,1,20170701,17,0,0,0,0,0,0,0,L사,1,50,0,0,인천,인천,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,0,27636,27636,0,0,0,26357,38,신용,0,0,None,202110.0,202108.0,20161201.0,1,1,1,1,1,1,0개,0,0,0,0,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,1,20090501,115,0,0,0,1,1,1,1,S사,0,0,0,0,서울,서울,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,0,23187,23187,0,0,0,17171,33,신용,0,0,None,202110.0,202111.0,20170609.0,1,1,1,1,1,1,0개,0,0,0,0,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,1,20130101,71,0,0,0,1,1,1,1,S사,0,0,0,0,부산,부산,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-2,신용,0,0,None,202202.0,NaN,20160928.0,0,0,0,0,0,0,0개,0,0,0,0,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,1,20180501,7,0,1,0,1,1,1,1,S사,0,0,0,0,경북,경북,1,2,2,0,0,0,2,2,0,0,0,2,2,0,0,0,21463,21463,0,0,0,6984,-2,신용,14564,52,신용,202302.0,202211.0,20170608.0,0,0,0,0,0,0,0개,0,0,0,0,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [9]:
# 총 데이터의 개수, 컬럼 개수, 데이터 타입 확인 
user_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400000 entries, 0 to 399999
Data columns (total 78 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int64
 1   ID                  object
 2   남녀구분코드              int64
 3   연령                  object
 4   Segment             object
 5   회원여부_이용가능           int64
 6   회원여부_이용가능_CA        int64
 7   회원여부_이용가능_카드론       int64
 8   소지여부_신용             int64
 9   소지카드수_유효_신용         int64
 10  소지카드수_이용가능_신용       int64
 11  입회일자_신용             int64
 12  입회경과개월수_신용          int64
 13  회원여부_연체             int64
 14  이용거절여부_카드론          int64
 15  동의여부_한도증액안내         int64
 16  수신거부여부_TM           int64
 17  수신거부여부_DM           int64
 18  수신거부여부_메일           int64
 19  수신거부여부_SMS          int64
 20  가입통신회사코드            object
 21  탈회횟수_누적             int64
 22  최종탈회후경과월            int64
 23  탈회횟수_발급6개월이내        int64
 24  탈회횟수_발급1년이내         int64
 25  거주시도명               object
 26  직장시도명               object
 27  마케팅동의여부             int64
 28  유효카드수_신용체크          int64
 29  유효카드수_신용            int64
 30  유효카드수_신용_가족         int64
 31  유효카드수_체크            int64
 32  유효카드수_체크_가족         int64
 33  이용가능카드수_신용체크        int64
 34  이용가능카드수_신용          int64
 35  이용가능카드수_신용_가족       int64
 36  이용가능카드수_체크          int64
 37  이용가능카드수_체크_가족       int64
 38  이용카드수_신용체크          int64
 39  이용카드수_신용            int64
 40  이용카드수_신용_가족         int64
 41  이용카드수_체크            int64
 42  이용카드수_체크_가족         int64
 43  이용금액_R3M_신용체크       int64
 44  이용금액_R3M_신용         int64
 45  이용금액_R3M_신용_가족      int64
 46  이용금액_R3M_체크         int64
 47  이용금액_R3M_체크_가족      int64
 48  _1순위카드이용금액          int64
 49  _1순위카드이용건수          int64
 50  _1순위신용체크구분          object
 51  _2순위카드이용금액          int64
 52  _2순위카드이용건수          int64
 53  _2순위신용체크구분          object
 54  최종유효년월_신용_이용가능      float64
 55  최종유효년월_신용_이용        float64
 56  최종카드발급일자            float64
 57  보유여부_해외겸용_본인        int64
 58  이용가능여부_해외겸용_본인      int64
 59  이용여부_3M_해외겸용_본인     int64
 60  보유여부_해외겸용_신용_본인     int64
 61  이용가능여부_해외겸용_신용_본인   int64
 62  이용여부_3M_해외겸용_신용_본인  int64
 63  연회비발생카드수_B0M        object
 64  연회비할인카드수_B0M        int64
 65  기본연회비_B0M           int64
 66  제휴연회비_B0M           int64
 67  할인금액_기본연회비_B0M      int64
 68  할인금액_제휴연회비_B0M      int64
 69  청구금액_기본연회비_B0M      int64
 70  청구금액_제휴연회비_B0M      int64
 71  상품관련면제카드수_B0M       object
 72  임직원면제카드수_B0M        object
 73  우수회원면제카드수_B0M       object
 74  기타면제카드수_B0M         object
 75  카드신청건수              int64
 76  Life_Stage          object
 77  최종카드발급경과월           int64
dtypes: float64(3), int64(61), object(14)
memory usage: 1.4+ GB

In [10]:
user_info.dtypes.value_counts()

int64      61
object     14
float64     3
Name: count, dtype: int64

In [11]:
# 결합한 데이터에서 타입별 컬럼 확인하기 user_info.select_dtypes(include=['int64']).describe()

# int64
print(user_info.select_dtypes(include=['int64']).columns)

# object
print(user_info.select_dtypes(include=['object']).columns)

# float64
print(user_info.select_dtypes(include=['float64']).columns)

Index(['기준년월', '남녀구분코드', '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론',
       '소지여부_신용', '소지카드수_유효_신용', '소지카드수_이용가능_신용', '입회일자_신용', '입회경과개월수_신용',
       '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_DM',
       '수신거부여부_메일', '수신거부여부_SMS', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내',
       '탈회횟수_발급1년이내', '마케팅동의여부', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_신용_가족',
       '유효카드수_체크', '유효카드수_체크_가족', '이용가능카드수_신용체크', '이용가능카드수_신용',
       '이용가능카드수_신용_가족', '이용가능카드수_체크', '이용가능카드수_체크_가족', '이용카드수_신용체크',
       '이용카드수_신용', '이용카드수_신용_가족', '이용카드수_체크', '이용카드수_체크_가족', '이용금액_R3M_신용체크',
       '이용금액_R3M_신용', '이용금액_R3M_신용_가족', '이용금액_R3M_체크', '이용금액_R3M_체크_가족',
       '_1순위카드이용금액', '_1순위카드이용건수', '_2순위카드이용금액', '_2순위카드이용건수', '보유여부_해외겸용_본인',
       '이용가능여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인',
       '이용가능여부_해외겸용_신용_본인', '이용여부_3M_해외겸용_신용_본인', '연회비할인카드수_B0M', '기본연회비_B0M',
       '제휴연회비_B0M', '할인금액_기본연회비_B0M', '할인금액_제휴연회비_B0M', '청구금액_기본연회비_B0M',
       '청구금액_제휴연회비_B0M', '카드신청건수', '최종카드발급경과월'],
      dtype='object')
Index(['ID', '연령', 'Segment', '가입통신회사코드', '거주시도명', '직장시도명', '_1순위신용체크구분',
       '_2순위신용체크구분', '연회비발생카드수_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M',
       '우수회원면제카드수_B0M', '기타면제카드수_B0M', 'Life_Stage'],
      dtype='object')
Index(['최종유효년월_신용_이용가능', '최종유효년월_신용_이용', '최종카드발급일자'], dtype='object')

In [12]:
# value의 unique 개수가 1개로 모두 같은 값을 가지고 있는 컬럼 추출
not_important_list=[]
for col in user_info.columns:
    if len(user_info[col].unique()) == 1:
        not_important_list.append(col)
print(not_important_list)

['이용카드수_체크_가족', '이용금액_R3M_체크_가족', '연회비할인카드수_B0M', '할인금액_기본연회비_B0M', '할인금액_제휴연회비_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M', '우수회원면제카드수_B0M', '기타면제카드수_B0M']

In [13]:
# 위에서 추출한 컬럼 삭제 및 저장
user_info.drop(columns=not_important_list,inplace=True)
user_info.shape

(2400000, 69)

In [14]:
# # Segment 스리즈 추출 및 저장

# Segment_df = user_info[['Segment']]
# user_info = user_info.drop(columns='Segment')

In [15]:
# 범주형 데이터로 쓸만한 컬럼 확인하기기
i=1
for col in user_info.columns:
    if len(user_info[col].unique()) <= 12:
        print(f'{i}.{col}: {user_info[col].unique()}')
        i+=1

1.기준년월: [201807 201808 201809 201810 201811 201812]
2.남녀구분코드: [2 1]
3.연령: ['40대' '30대' '20대' '60대' '50대' '70대이상']
4.Segment: ['D' 'E' 'C' 'A' 'B']
5.회원여부_이용가능: [1 0]
6.회원여부_이용가능_CA: [1 0]
7.회원여부_이용가능_카드론: [0 1]
8.소지여부_신용: [1 0]
9.소지카드수_유효_신용: [1 2 3 0 4]
10.소지카드수_이용가능_신용: [1 2 3 0]
11.회원여부_연체: [0 1]
12.이용거절여부_카드론: [0 1]
13.동의여부_한도증액안내: [1 0]
14.수신거부여부_TM: [0 1]
15.수신거부여부_DM: [0 1]
16.수신거부여부_메일: [0 1]
17.수신거부여부_SMS: [0 1]
18.가입통신회사코드: ['L사' 'K사' 'S사' None]
19.탈회횟수_누적: [1 0 2]
20.탈회횟수_발급6개월이내: [0 1]
21.탈회횟수_발급1년이내: [0 1]
22.마케팅동의여부: [1 0]
23.유효카드수_신용체크: [2 1 3 7 5 0 4 6 8]
24.유효카드수_신용: [1 2 4 3 0 5]
25.유효카드수_신용_가족: [0 1 2]
26.유효카드수_체크: [1 0 3 2]
27.유효카드수_체크_가족: [0 1 2]
28.이용가능카드수_신용체크: [2 1 3 7 5 0 4 6 8]
29.이용가능카드수_신용: [1 2 4 0 3 5]
30.이용가능카드수_신용_가족: [0 1 2]
31.이용가능카드수_체크: [1 0 3 2]
32.이용가능카드수_체크_가족: [0 1 2]
33.이용카드수_신용체크: [1 0 2 5 3 4 6]
34.이용카드수_신용: [1 0 2 4 3 5]
35.이용카드수_신용_가족: [0 1 2]
36.이용카드수_체크: [0 1 2]
37._1순위신용체크구분: ['신용' None '체크']
38._2순위신용체크구분: ['체크' None '신용']
39.보유여부_해외겸용_본인: [0 1]
40.이용가능여부_해외겸용_본인: [0 1]
41.이용여부_3M_해외겸용_본인: [0 1]
42.보유여부_해외겸용_신용_본인: [0 1]
43.이용가능여부_해외겸용_신용_본인: [0 1]
44.이용여부_3M_해외겸용_신용_본인: [0 1]
45.연회비발생카드수_B0M: ['0개' '1개이상']
46.제휴연회비_B0M: [  0 950 949  30 149  29 951 150]
47.청구금액_제휴연회비_B0M: [  0 950 949  30 149  29 951 150]
48.카드신청건수: [0 1]
49.Life_Stage: ['자녀성장(2)' '자녀성장(1)' '자녀출산기' '독신' '노년생활' '가족구축기' '자녀독립기']

In [16]:
# 컬럼의 고윳값이 10개 초과 컬럼 확인하기
i=1
for col in user_info.columns:
    if len(user_info[col].unique()) > 10:
        print(f'{i}.{col}: {user_info[col].unique()}')
        i+=1

1.ID: ['TRAIN_000000' 'TRAIN_000001' 'TRAIN_000002' ... 'TRAIN_399997'
 'TRAIN_399998' 'TRAIN_399999']
2.입회일자_신용: [20130101 20170801 20080401 20160501 20180601 20141001 20081001 20070301
 20121001 20161201 20080801 20151001 20170301 20150701 20170601 20070901
 20180201 20080601 20111001 20140801 20120401 20170201 20160901 20120201
 19990901 20140501 20100101 20150201 20170501 20110601 20070701 19970101
 19990501 20141201 20060701 20030601 20061201 20090901 20060601 19951101
 20060201 20001101 20030901 20170401 20140701 20000401 20160701 19991001
 20161001 20180301 20120701 20180101 20130601 20150101 20121201 20111201
 19930601 19940601 20110701 20120901 20080901 20130501 20161101 19991201
 20160301 20011001 19970201 20111101 19971201 20040601 20140301 20100801
 19980701 20130301 20140401 20131101 20170101 20171001 20170901 20091001
 20141101 19990401 20100501 20171201 20030501 20100201 20150501 20110401
 19950601 20150401 20100701 20040701 20151201 20110101 20120501 20090101
 20151101 20160601 20160401 19970901 20010101 20130901 20120801 20180401
 20160201 20080201 20061001 20010401 20010301 19991101 20010501 20100901
 19980401 20050201 19970301 20180501 20020201 19980801 19971101 20000501
 20140101 19960101 20140901 19970701 20020701 20020401 20131201 20040401
 19940201 20130801 19940801 20101201 20090201 20121101 20130401 20120301
 20170701 20070801 20090701 20050301 20010701 20150301 20070601 19980101
 20010201 20031001 20110801 20140601 20120601 20040901 20080101 20071001
 20131001 20080701 20090301 19961201 20010901 20130701 19960801 20130201
 19981001 20031101 20090401 20030801 20070501 20171101 20110901 19980601
 20071101 20021101 19941001 19970501 20100601 19970601 20070401 20120101
 20020501 20040501 20150801 19990301 20140201 20011101 20050801 20150601
 20160101 20050601 19970801 20000201 20091201 20160801 20090601 20071201
 19950501 20100401 20050701 20070101 19961101 20150901 20051101 20110501
 20030301 20110301 19940501 20040101 20000601 20040201 20050501 20060301
 19990201 20060901 20050901 20091101 20110201 19990601 20080501 20020801
 19960901 19980201 20000301 20050401 20030201 20090501 20030101 20021201
 20031201 20101001 20101101 20020301 20051201 20000701 20090801 20081101
 19930901 19981201 19951201 19950801 20100301 20060501 19950201 19980501
 20040301 19990101 19970401 19960301 19950401 20000901 20041201 19950901
 20010601 19971001 19960401 19940401 20020901 20020101 20021001 20050101
 20000101 20060801 19980901 19980301 20061101 19931201 20030701 19940901
 20000801 20060101 20070201 19960701 19961001 20020601 20051001 20041001
 20080301 19981101 20010801 19930701 20060401 19990701 20081201 19960201
 20011201 19951001 20001201 19931101 19960501 19990801 20001001 20030401
 19950701 19960601 19911101 19950101 20040801 20041101 19931001 19921101
 19950301 19930101 19941201 19940701 19941101 19930801 19930301 19940101
 19940301 19930201 19920601 19920101 19920901 19930401 19921201 19921001
 19911201 19930501 19920401 19920801 19920701 19920301 19920501 19920201
 19911001 19910501 19910901 19901101 19910801]
3.입회경과개월수_신용: [ 67  12 124  27   2  46 118 137  70  20 120  34  17  37  14 131   6 122
  82  48  76  18  23  78 227  51 103  42  15  86 133 259 231  44 145 182
 140 107 146 273 150 213 179  16  49 220  25 226  22   5  73   7  62  43
  68  80 302 290  85  71 119  63  21 224  29 202 258  81 248 170  53  96
 241  65  52  57  19  10  11 106  45 232  99   8 183 102  39  88 278  40
  97 169  32  91  75 115  33  26  28 251 211  59  72   4  30 126 142 208
 209 225 207  95 244 162 257   3 198 240 249 219  55 271  47 253 193 196
  56 172 294  60 288  92 114  69  64  77  13 132 109 161 205  41 134 247
 210 178  84  50  74 167 127 130  58 121 113 260 203  61 264  66 238 177
 112 180 135   9  83 242 129 189 286 255  98 254 136  79 195 171  36 233
  54 201 156  38  31 158 252 222 104  24 110 128 279 100 157 139 261  35
 153  87 185  89 291 175 218 174 159 149 234 143 155 105  90 230 123 192
 263 246 221 160 186 111 187 188 176  94  93 197 152 217 108 117 299 236
 272 276 101 147 282 243 173 235 256 269 280 215 164 275 206 250 268 292
 191 199 190 163 223 144 239 245 141 296 181 287 216 151 138 265 262 194
 154 166 125 237 204 301 148 229 116 270 200 274 212 297 267 228 214 184
 277 266 321 283 168 165 298 309 281 307 284 289 285 300 305 295 293 306
 314 319 311 304 308 310 320 303 316 312 313 317 315 318 322 327 323 333
 324 328 334 325 329 335 326 330 336 331 337]
4.최종탈회후경과월: [ 61  98  60 100 101   0  44 103  96  46 102  45  43  47 105  42  18 110
 108 104  99  19  97 107  20  21 109  17 106  41  95  94  40  93  59  92
  22 112  16 111  91  90  39  89  48  15  62   1  23 113  49  63   2  24
 114  50  64   3  25 115  51  65   4  26 116  52  66   5  27 117  53]
5.거주시도명: ['서울' '경기' '부산' '광주' '대전' '전북' '인천' '경남' '충북' '전남' '울산' '경북' '강원' '대구'
 '충남' '제주' '세종']
6.직장시도명: ['서울' '경기' '부산' '광주' None '전북' '인천' '대전' '경남' '충북' '전남' '경북' '울산' '강원'
 '대구' '세종' '충남' '제주']
7.이용금액_R3M_신용체크: [   196  13475  23988 ... 121023 116423 116441]
8.이용금액_R3M_신용: [   196  13475  23988 ... 116423 116441  90491]
9.이용금액_R3M_신용_가족: [    0  7561 11308 ... 20433 18119 14965]
10.이용금액_R3M_체크: [    0  1190  3687 ... 40697 47034 86719]
11._1순위카드이용금액: [ 3681 13323 24493 ... 58806 48489 56510]
12._1순위카드이용건수: [ 26  46  28   1  -2  32  49 176  14 151  77  36   4  12  41  22  57  20
 116  37  29  13   9  45   5 170  94  89  11 158  23 113   8 152   0  10
  21   3 184 178  -1  59 118  95  17  82  50  72  33 120  38  85  90 124
   2  42  58  98  53  25 187 154  19  15  54  35   7   6  18  44 109 100
  93 110  24  43  84  88 194  70  64  81  16  56 173 193  66 157 125  40
  62 163  30 192 108  47 213 144 202  48 166 138  34 199 156 150  99  78
  76 134  52 129 128  83  27 106 190  65  69 182 115 114 159 122 165 179
  91  31 196 147 140  51 105  39  63  68 111  67 142 174  71 191 135 103
 127 204 104  79  80  61 203 200 189 130 102 171  60 148 212 143 139 172
 198 197 132 146 131 206  92 126 107 112  96  55  86 183 123  74 169 175
 168 209 119 121 164 137  73 201 162  87 167 136 155 161 145 141 153  75
  97 133 101 177 210 185 211 180 186 117 188 160 149 181 195 207 215 216
 205 218 214 208 220 217 219 221 222 223 224]
13._2순위카드이용금액: [    0  3196 38051 ... 45320 33360 36150]
14._2순위카드이용건수: [  0  25 128  44 100  28   9   5  34  23  33  20  54  70  36  55  94   4
  80  50  21  42  64  43  53   8  58  57  95  32  30  26  24 130  72  49
  40  18  22  27  56   6  61 123  16  14  31 114  35  39  19  12  45  71
  84 144  11  13 129  63  74  81  66  96 137  29  90  46  10  51  15  77
 153  52  38  73 121  75  37 131  47  17  89   7  48 116  68  -1 138 119
  93   3  92 148  60  88 109 118  91 142 111 115  79  78 140 154  69 149
 146 105  98  59 160  67  65 141  41 106 102 110  87 150 120  86  83 135
 122  85 103 112  82   2  62 133 124 117 108 172 139 113  76  99  97 145
 152 156 161 127 104 126   1 164 183 151 147 191 158 107 162 157 101 185
 169 143 134 163 125 136 155 177 190 166 167 175 174 159 179 184 168 132
 165 170 171 173 186 178 197 201 176 193 198 187 180 181 188 182 194 189
 192 195 199 205 200 196 203 206 209 202 204]
15.최종유효년월_신용_이용가능: [202110. 202112. 202111. 202201. 202002. 202211. 202107. 202209.     nan
 202001. 202204. 202308. 202301. 202009. 202108. 202212. 202102. 202109.
 202206. 201911. 202012. 202207. 202101. 202005. 202104. 202202. 201912.
 202205. 202103. 202302. 202305. 202208. 201908. 202310. 202203. 202106.
 202007. 202312. 201905. 202304. 201903. 201910. 202303. 202011. 201909.
 202306. 202105. 201906. 202008. 202307. 202311. 201907. 202010. 202210.
 202006. 201904. 202309. 202004. 202003. 201812. 201901. 201902. 201811.
 201810. 201809. 201808. 201806. 201807. 201805. 202401. 202403. 202402.
 202404. 202405. 202406.]
16.최종유효년월_신용_이용: [202112. 202204. 202201. 202111.     nan 202209. 202106. 202208. 202003.
 202205. 202303. 202212. 202011. 202110. 202211. 202104. 202304. 202302.
 202206. 201912. 202102. 202202. 202109. 202006. 202005. 202203. 202105.
 202210. 202309. 202307. 202207. 202009. 202311. 202301. 201908. 202002.
 202108. 201906. 202001. 202107. 201910. 202012. 201911. 202103. 202312.
 202010. 202306. 201905. 202310. 202101. 202305. 201909. 202007. 202008.
 202004. 202308. 201904. 201907. 201902. 201903. 201812. 201811. 201810.
 201901. 201809. 201807. 202401. 201808. 202403. 202402. 202404. 202405.
 202406.]
17.최종카드발급일자: [20160912. 20170122. 20161113. ... 20181208. 20181214. 20181202.]
18.기본연회비_B0M: [  0 106 109 108 105  50 107 103 104 110  49 111 102 101]
19.청구금액_기본연회비_B0M: [  0 106 109 108 105  50 107 103 104 110  49 111 102 101]
20.최종카드발급경과월: [22 18 20 17 15 51  6 28  5 10 42 16  0  2 32  8 30 24  3 12 13 26 31 19
 23 11 29 44 40  7 14 46 38 52 21 27  9 35 45  4 48 25 34 49 36 53 47 50
 33 41 37  1 43 39 58 55 56 54 57 59 62 60 63 61 64 65 66 67]

In [17]:
len(user_info['ID'].unique()) #2,400,000개의 데이터 안에 400,000 명의 데이터뿐

400000

In [18]:
print(user_info['_1순위카드이용건수'].loc[user_info['_1순위카드이용건수']<0].value_counts()) # 이용 건수에 음수값 존재
print(user_info['_2순위카드이용건수'].loc[user_info['_2순위카드이용건수']<0].value_counts()) # 이용 건수에 음수값 존재

_1순위카드이용건수
-2    421728
-1     66230
Name: count, dtype: int64
_2순위카드이용건수
-1    6180
Name: count, dtype: int64

In [19]:
user_info['이용금액_R3M_신용'].loc[user_info['이용금액_R3M_신용']<0].count()

151964

In [20]:
# 탈퇴횟수_누적
user_info['탈회횟수_발급6개월이내'].value_counts()

탈회횟수_발급6개월이내
0    2302195
1      97805
Name: count, dtype: int64

In [21]:
# 범주형으로 사용할 컬럼 (인코딩 필요)
categorical_cols = [
    '남녀구분코드', '연령', 'Segment',
    '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론',
    '소지여부_신용', '회원여부_연체', '이용거절여부_카드론',
    '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_DM',
    '수신거부여부_메일', '수신거부여부_SMS',
    '가입통신회사코드', '_1순위신용체크구분', '_2순위신용체크구분',
    '보유여부_해외겸용_본인', '이용가능여부_해외겸용_본인', '이용여부_3M_해외겸용_본인',
    '보유여부_해외겸용_신용_본인', '이용가능여부_해외겸용_신용_본인', '이용여부_3M_해외겸용_신용_본인',
    '연회비발생카드수_B0M', '카드신청건수', '마케팅동의여부', 'Life_Stage',
    '탈회횟수_누적', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내',
    '기준년월', '최종유효년월_신용_이용가능', '최종유효년월_신용_이용'
]

In [22]:
# 연속형으로 사용할 컬럼
continuous_cols = [
    '입회경과개월수_신용', '최종탈회후경과월', '최종카드발급경과월',
    '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액_R3M_신용_가족', '이용금액_R3M_체크',
    '_1순위카드이용금액', '_2순위카드이용금액',
    '_1순위카드이용건수', '_2순위카드이용건수',
    '기본연회비_B0M', '청구금액_기본연회비_B0M',
    '제휴연회비_B0M', '청구금액_제휴연회비_B0M',
    '소지카드수_유효_신용', '소지카드수_이용가능_신용',
    '유효카드수_신용체크', '유효카드수_신용', '유효카드수_신용_가족',
    '유효카드수_체크', '유효카드수_체크_가족',
    '이용가능카드수_신용체크', '이용가능카드수_신용', '이용가능카드수_신용_가족',
    '이용가능카드수_체크', '이용가능카드수_체크_가족',
    '이용카드수_신용체크', '이용카드수_신용', '이용카드수_신용_가족', '이용카드수_체크'
]

#### 3. 결측치 확인하기

In [23]:
# 결측치가 존재하는 컬럼의 개수
user_info.isnull().any().sum()

7

In [24]:
# 결측치가 존재하는 컬럼명
flag = user_info.isnull().any()
flag2 = user_info.columns[flag]
user_info[flag2].isnull().sum()

가입통신회사코드          387570
직장시도명             244969
_1순위신용체크구분         27950
_2순위신용체크구분        958115
최종유효년월_신용_이용가능    210447
최종유효년월_신용_이용      534231
최종카드발급일자           41965
dtype: int64

In [25]:
# 결측치가 존재하는 행 열 확인하기 
flag3 = user_info.isnull().any(axis=1)
user_info.loc[flag3,flag2]

,가입통신회사코드,직장시도명,_1순위신용체크구분,_2순위신용체크구분,최종유효년월_신용_이용가능,최종유효년월_신용_이용,최종카드발급일자
1,K사,경기,신용,None,202112.0,202204.0,20170122.0
4,K사,광주,신용,체크,202201.0,NaN,20170409.0
5,None,경기,신용,None,202002.0,NaN,20140405.0
6,K사,경기,신용,None,202211.0,202209.0,20180111.0
7,None,None,신용,신용,202107.0,202106.0,20160311.0
...,...,...,...,...,...,...,...
399992,S사,None,신용,None,NaN,NaN,20170327.0
399995,S사,울산,신용,체크,202110.0,NaN,20150902.0
399996,L사,인천,신용,None,202110.0,202108.0,20161201.0
399997,S사,서울,신용,None,202110.0,202111.0,20170609.0
399998,S사,부산,신용,None,202202.0,NaN,20160928.0

In [26]:
# 결측치 컬럼 비율 확인
nan_col = user_info.loc[flag3,flag2].columns
for c in nan_col:
    print(f'{user_info[c].value_counts(dropna=False)}')
    print('================================================================')

가입통신회사코드
S사      995637
K사      565208
L사      451585
None    387570
Name: count, dtype: int64
================================================================
직장시도명
경기      598244
서울      576618
None    244969
인천      146944
부산      131285
대전      120697
충북      103951
경남       94527
경북       82975
대구       76605
울산       66275
전남       52849
광주       34100
충남       28361
전북       20442
강원       15485
세종        3117
제주        2556
Name: count, dtype: int64
================================================================
_1순위신용체크구분
신용      2295461
체크        76589
None      27950
Name: count, dtype: int64
================================================================
_2순위신용체크구분
None    958115
신용      873447
체크      568438
Name: count, dtype: int64
================================================================
최종유효년월_신용_이용가능
NaN         210447
202208.0     66949
202207.0     66486
202210.0     66020
202209.0     64576
             ...
201809.0        62
201808.0        40
201807.0        14
201806.0         6
201805.0         2
Name: count, Length: 75, dtype: int64
================================================================
최종유효년월_신용_이용
NaN         534231
202207.0     62997
202208.0     62145
202210.0     60683
202205.0     60367
             ...
201811.0        42
201810.0        16
201809.0         8
201807.0         2
201808.0         1
Name: count, Length: 73, dtype: int64
================================================================
최종카드발급일자
NaN           41965
20180705.0     4011
20180707.0     3873
20180703.0     3837
20180701.0     3834
              ...
20130818.0        6
20131014.0        6
20130919.0        6
20130804.0        6
20131015.0        6
Name: count, Length: 1940, dtype: int64
================================================================

In [27]:
# 결측치 처리
user_info['가입통신회사코드'] = user_info['가입통신회사코드'].fillna('미입력')
user_info['직장시도명'] = user_info['직장시도명'].fillna('미입력')
user_info['_1순위신용체크구분'] = user_info['_1순위신용체크구분'].fillna('미입력')
user_info['_2순위신용체크구분'] = user_info['_2순위신용체크구분'].fillna('미입력')

In [28]:
user_info[flag2].isnull().sum()

가입통신회사코드               0
직장시도명                  0
_1순위신용체크구분             0
_2순위신용체크구분             0
최종유효년월_신용_이용가능    210447
최종유효년월_신용_이용      534231
최종카드발급일자           41965
dtype: int64

#### 2. 범주형 데이터 처리

In [29]:
# object 컬럼 출력
pd.set_option('display.max_columns', None)  # 열 전체 출력
df =user_info[categorical_cols]
df

,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,회원여부_연체,이용거절여부_카드론,동의여부_한도증액안내,수신거부여부_TM,수신거부여부_DM,수신거부여부_메일,수신거부여부_SMS,가입통신회사코드,_1순위신용체크구분,_2순위신용체크구분,보유여부_해외겸용_본인,이용가능여부_해외겸용_본인,이용여부_3M_해외겸용_본인,보유여부_해외겸용_신용_본인,이용가능여부_해외겸용_신용_본인,이용여부_3M_해외겸용_신용_본인,연회비발생카드수_B0M,카드신청건수,마케팅동의여부,Life_Stage,탈회횟수_누적,탈회횟수_발급6개월이내,탈회횟수_발급1년이내,기준년월,최종유효년월_신용_이용가능,최종유효년월_신용_이용
0,2,40대,D,1,1,0,1,0,0,1,0,0,0,0,L사,신용,체크,0,0,0,0,0,0,0개,0,1,자녀성장(2),1,0,0,201807,202110.0,202112.0
1,1,30대,E,1,1,1,1,0,0,0,0,0,0,0,K사,신용,미입력,0,0,0,0,0,0,0개,0,1,자녀성장(1),1,0,0,201807,202112.0,202204.0
2,1,30대,C,1,1,0,1,0,0,1,0,0,0,0,S사,신용,체크,1,1,0,0,0,0,0개,0,1,자녀출산기,1,0,0,201807,202111.0,202201.0
3,2,40대,D,1,1,0,1,0,0,1,0,0,0,0,L사,신용,체크,1,1,1,1,1,1,0개,1,1,자녀성장(2),1,0,0,201807,202201.0,202111.0
4,2,40대,E,1,1,1,1,0,0,0,0,0,0,0,K사,신용,체크,1,1,1,0,0,0,0개,1,1,자녀성장(1),1,0,0,201807,202201.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,70대이상,E,1,1,1,1,0,0,0,0,0,0,0,S사,신용,체크,1,1,1,1,1,0,0개,0,1,노년생활,0,0,0,201812,202110.0,NaN
399996,2,50대,D,1,1,1,1,0,0,0,0,0,0,0,L사,신용,미입력,1,1,1,1,1,1,0개,0,1,자녀성장(2),1,0,0,201812,202110.0,202108.0
399997,1,30대,C,1,1,0,1,0,0,0,1,1,1,1,S사,신용,미입력,1,1,1,1,1,1,0개,0,1,자녀출산기,0,0,0,201812,202110.0,202111.0
399998,1,40대,E,1,1,1,1,0,0,0,1,1,1,1,S사,신용,미입력,0,0,0,0,0,0,0개,0,0,자녀성장(1),0,0,0,201812,202202.0,NaN
399999,2,40대,E,1,1,0,1,0,1,0,1,1,1,1,S사,신용,신용,0,0,0,0,0,0,0개,0,1,자녀성장(1),0,0,0,201812,202302.0,202211.0

In [30]:
# 위 컬럼을 제외한 컬럼들에서 범주형 데이터로 사용할 수 있는 컬럼 확인 

pd.set_option('display.max_columns', None)  # 열 전체 출력
col=user_info.select_dtypes(include='object').columns
user_info.drop(columns=col)

# 남녀구분코드,

,기준년월,남녀구분코드,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,소지카드수_이용가능_신용,입회일자_신용,입회경과개월수_신용,회원여부_연체,이용거절여부_카드론,동의여부_한도증액안내,수신거부여부_TM,수신거부여부_DM,수신거부여부_메일,수신거부여부_SMS,탈회횟수_누적,최종탈회후경과월,탈회횟수_발급6개월이내,탈회횟수_발급1년이내,마케팅동의여부,유효카드수_신용체크,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용체크,이용가능카드수_신용,이용가능카드수_신용_가족,이용가능카드수_체크,이용가능카드수_체크_가족,이용카드수_신용체크,이용카드수_신용,이용카드수_신용_가족,이용카드수_체크,이용금액_R3M_신용체크,이용금액_R3M_신용,이용금액_R3M_신용_가족,이용금액_R3M_체크,_1순위카드이용금액,_1순위카드이용건수,_2순위카드이용금액,_2순위카드이용건수,최종유효년월_신용_이용가능,최종유효년월_신용_이용,최종카드발급일자,보유여부_해외겸용_본인,이용가능여부_해외겸용_본인,이용여부_3M_해외겸용_본인,보유여부_해외겸용_신용_본인,이용가능여부_해외겸용_신용_본인,이용여부_3M_해외겸용_신용_본인,기본연회비_B0M,제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,카드신청건수,최종카드발급경과월
0,201807,2,1,1,0,1,1,1,20130101,67,0,0,1,0,0,0,0,1,61,0,0,1,2,1,0,1,0,2,1,0,1,0,1,1,0,0,196,196,0,0,3681,26,0,0,202110.0,202112.0,20160912.0,0,0,0,0,0,0,0,0,0,0,0,22
1,201807,1,1,1,1,1,1,1,20170801,12,0,0,0,0,0,0,0,1,98,0,0,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,13475,13475,0,0,13323,46,0,0,202112.0,202204.0,20170122.0,0,0,0,0,0,0,0,0,0,0,0,18
2,201807,1,1,1,0,1,1,1,20080401,124,0,0,1,0,0,0,0,1,60,0,0,1,2,1,0,1,0,2,1,0,1,0,1,1,0,0,23988,23988,0,0,24493,28,0,0,202111.0,202201.0,20161113.0,1,1,0,0,0,0,0,0,0,0,0,20
3,201807,2,1,1,0,1,2,2,20160501,27,0,0,1,0,0,0,0,1,100,0,0,1,3,2,0,1,0,3,2,0,1,0,1,1,0,0,3904,3904,0,0,5933,1,0,0,202201.0,202111.0,20170205.0,1,1,1,1,1,1,0,0,0,0,1,17
4,201807,2,1,1,1,1,1,1,20180601,2,0,0,0,0,0,0,0,1,101,0,0,1,2,1,0,1,0,2,1,0,1,0,1,0,0,1,1190,0,0,1190,0,-2,0,0,202201.0,NaN,20170409.0,1,1,1,0,0,0,0,0,0,0,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,201812,2,1,1,1,1,1,1,20010701,209,0,0,0,0,0,0,0,0,0,0,0,1,2,1,0,1,0,2,1,0,1,0,1,0,0,1,10755,7267,0,3488,5640,3,0,0,202110.0,NaN,20150902.0,1,1,1,1,1,0,0,0,0,0,0,39
399996,201812,2,1,1,1,1,1,1,20170701,17,0,0,0,0,0,0,0,1,50,0,0,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,27636,27636,0,0,26357,38,0,0,202110.0,202108.0,20161201.0,1,1,1,1,1,1,0,0,0,0,0,24
399997,201812,1,1,1,0,1,1,1,20090501,115,0,0,0,1,1,1,1,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,23187,23187,0,0,17171,33,0,0,202110.0,202111.0,20170609.0,1,1,1,1,1,1,0,0,0,0,0,18
399998,201812,1,1,1,1,1,1,1,20130101,71,0,0,0,1,1,1,1,0,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,-2,0,0,202202.0,NaN,20160928.0,0,0,0,0,0,0,0,0,0,0,0,27
399999,201812,2,1,1,0,1,1,1,20180501,7,0,1,0,1,1,1,1,0,0,0,0,1,2,2,0,0,0,2,2,0,0,0,2,2,0,0,21463,21463,0,0,6984,-2,14564,52,202302.0,202211.0,20170608.0,0,0,0,0,0,0,0,0,0,0,0,18